/*
body {
    background-color: #DCDBD9;
    color: #2C2C2C;
    font: normal 100% Cambria, Georgia, serif;
}


#page {
    width: 960px;
    margin: 0 auto;
}



h1 {
    font-size: 1.5em;
    font-style: italic;
    font-weight: normal;
}

h1 a {
    color: #747474;
    font: bold 0.458333333333333em Calibri, Optima, Arial, sans-serif;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;
}


#main {
    margin-top: 15px;
}

*/

.modifiers {
    vertical-align: top;
}